{{ range.Site.Params.experience.list }}
  <h4 style="text-decoration: underline;">
    {{ if .url }}
      <a href="{{ .url }}">{{ .company }}</strong></a>
    {{ else }}
      {{ .company }}
    {{ end }}
  </h4>
    <ul>
      {{ range .positions }}
        <li>
          <strong>{{ .position }}</strong> &middot; {{ .dates | markdownify }}
        </li>
      {{ end }}
    </ul>
  <p>{{ .details | $.RenderString (dict "markup" "org" "display" "block") }}</p>
  <p class="nav">{{ .tech }}</p>
{{ end }}
